build/
/8ops/
/toolchain/install/
/toolchain/.install-stage.*/
/toolchain/.install-backup.*/
/build-gemm-test/
/install-gemm-test/
*.elf
*.a
*.so
*.so.*
*.pyc
__pycache__/
*.log
*.diff
*.trace
*.tmp
reports/
traces/
*.gch
autom4te.cache/
.*.swp
*.o
*.d
.gdb_history
.#*
*~
config.log
